/* css styles */

/* make title smaller*/
.quarto-title-block h1.title {
  font-size: 1.25em; /* Adjust the value as needed (e.g., 1.5em, 24px) */
  margin-top: -15px !important;
  padding-top: 0px !important;
  margin-bottom: -5px !important;
  padding-bottom: 0px !important;
}

/* make date smaller*/
.quarto-title-meta {
  font-size: 0.9em; /* Adjust the value as needed (e.g., 1.5em, 24px) */
}

/* make tab content margins smaller*/
.panel-tabset .tab-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 5px !important;
  margin-top: 5px !important;
}

/* make spacing smaller*/
.panel-tabset .tab-content .line-block {
  padding-bottom: 10px;
}

/* make tabs smaller*/
.panel-tabset .nav-tabs .nav-link {
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 0.7em;
}

/*bring something to the front*/
.title-block-header {
  position: relative;
  z-index: 1; /* Keep title text behind or in front as needed */
}


/*bring home page map up in line with title*/
.column .cell-output-display {
  position: relative;
  margin-top: -90px; /* Adjust this value to overlap */
  z-index: 10; /* Ensure map is above title */
}


/* edit appearance of north arrow*/
img[src*=".png"] {
  width: 40px;
  height: 55px;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  color: #333;
  background: rgba(255,255,255,0.5);
  margin-top: 2px;
  margin-left:2px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

/* edit appearance of north arrow for exploits page*/
.panel-tabset img[src*=".png"] {
  position: absolute;
  bottom: 18px;
  right: 5px;
  width: 40px;
  height: 55px;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  color: #333;
  background: rgba(255,255,255,0.5);
  margin-top: 2px;
  margin-left: -5px;
  margin-bottom: 10px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

/*edit legend layout*/
.leaflet-control-container .leaflet-top.leaflet-right{
  width: 300px;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.info.legend.leaflet-control:has(> div) {
  width: 45%;
}

.info.legend.leaflet-control:not(:has(> div)) {
  width: 45%;
  order: -1;
}


/* scroll drop down watersheds*/
.navbar-nav .dropdown-menu {
  max-height: 70vh; /* Set a fixed height */
  overflow-y: auto;  /* Enable vertical scrolling when content exceeds height */
}

.line-block {
  margin-left: 20px;
}

/* make horizontal sliders line up with bars */

/* allows label to go ontop of slider*/
#tabset-1-1 .oi-3a86ea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 90%;
}

/* makes label wider */
#tabset-1-1 .oi-3a86ea label {
  min-width: 100%;
}

/* puts sliders side by side */
#tabset-1-1 .quarto-layout-panel  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}

/* make basic styling for row more flexible*/
#tabset-1-1 .quarto-layout-row {
  display: flex;
  justify-content: center;
  padding-right: 0px;
  padding-bottom: 10px;
}

/* remove uneven padding around sliders and make sure sldiers centered*/
#tabset-1-1 .quarto-layout-cell {
  padding-right: 0px;
  padding-left: 5%;
  margin: 0px;
}

/* make sure attributions dont cover scale bar*/
.leaflet-control-attribution {
  max-width: 80vw;
  opacity: 0.8;
}

/* better button styles*/

/* opacity*/
.leaflet-control-container .leaflet-top.leaflet-left {
  opacity: 0.8;
}

/* recenter button nicer colours*/
.leaflet-bar button {
  opacity: 0.8;
  background-color: #ffffff;
}

.leaflet-bar button:hover {
  opacity: 1;
  background-color: #ffffff;
}



