/* css styles */
.quarto-title-block h1.title {
  font-size: 1.25em; /* Adjust the value as needed (e.g., 1.5em, 24px) */
  margin-top: -15px !important;
  padding-top: 0px !important;
  margin-bottom: -5px !important;
  padding-bottom: 0px !important;
}

.quarto-title-meta {
  font-size: 0.9em; /* Adjust the value as needed (e.g., 1.5em, 24px) */
}

.panel-tabset .tab-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 5px !important;
  margin-top: 5px !important;
}

.panel-tabset .tab-content .line-block {
  padding-bottom: 10px;
}

.panel-tabset .nav-tabs .nav-link {
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 0.7em;
}

.title-block-header {
  position: relative;
  z-index: 1; /* Keep title text behind or in front as needed */
}


.column .cell-output-display {
  position: relative;
  margin-top: -90px; /* Adjust this value to overlap */
  z-index: 10; /* Ensure map is above title */
}

.info.legend.leaflet-control.leaflegend-group-D50 {
  margin-right: 150px;
}

.info.legend.leaflet-control.leaflegend-group-Discharge  {
  margin-right: 10px;
  margin-top: -194px;
  position: static;
  width: 130px;
}

.info.legend.leaflet-control.leaflegend-group-Width {
  margin-right: 150px;
  margin-top: 10px;
}

.info.legend.leaflet-control.leaflegend-group-Gradient {
  margin-right: 10px;
  margin-top: -194px;
  width: 130px;
}

img[src*=".png"] {
  width: 40px;
  height: 55px;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  color: #333;
  background: #fff;
  margin-top: 2px;
  margin-left:2px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}


   

