/*-- scss:rules --*/

/* gradient for slider colours*/
input[type=range] {
  appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track  {
  background: linear-gradient(
    to right,
    blue 0%,
    blue ${sliderValue}%,
    lightgray ${sliderValue}%,
    lightgray 100%
  );
  border-radius: 5px;
}